# ====================================================================
# Variaveis de Ambiente - Cidades ESG Inteligentes (DevOps FIAP)
# ====================================================================

# Porta do Servico
PORT=8080

# Perfil de Ambiente (local, staging, production)
APP_ENVIRONMENT=local
SPRING_PROFILES_ACTIVE=local

# Conexao com MongoDB
MONGODB_URI=mongodb://root:esg_secret_pass@mongodb:27017/cidades_esg?authSource=admin
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=esg_secret_pass
MONGO_INITDB_DATABASE=cidades_esg

# Configuracoes de JVM
JAVA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0
